*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", sans-serif;
}




body{
  height:100vh;
  background:
  linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
  url("https://images.unsplash.com/photo-1592838064575-70ed626d3a0e") no-repeat center center/cover;
  display:flex;
    flex-direction:column;
    align-items:center
}
form-group {
  margin-bottom: 20px;
}

select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f9f9f9;
  font-family: inherit;
  box-sizing: border-box;
}

select:focus {
  border-color: #ff6b00;
  outline: none;
  background-color: white;
}

/* ===== HEADER ===== */

header{
    width:100%;
    text-align:center;
    padding-top:30px;
}


.logo{
    font-size:34px;
    font-weight:bold;
    color:#4da6ff;
}

.logo span{
    color:white;
}

/* العنوان الكبير تحت الشعار */

.main-title{
    color:white;
    font-size:28px;
    margin-top:10px;
    font-weight:500;
}

/* ===== LOGIN BOX ===== */

.login-box{
    margin-top:120px;   /* باش يهبط شوية */
    background:rgba(255,255,255,0.15);
    padding:40px;
    width:340px;
    border-radius:15px;
    backdrop-filter:blur(10px);
    text-align:center;
    color:white;
}

.login-box h2{
    margin-bottom:25px;
}
.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}


.login-box input{
    width:100%;
    padding:12px;
    margin:12px 0;
    border:none;
    border-bottom:2px solid white;
    background:transparent;
    color:white;
    outline:none;
}

.login-box input::placeholder{
    color:#ddd;
}
.back-btn {
  position: fixed;     /* يبقى ثابت حتى كي نعملو scroll */
  top: 70px;           /* المسافة من الأعلى */
  left: 70px;          /* يكون في اليسار */
  background-color: #007BFF;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.back-btn:hover {
  background-color: #b36b00;
}


.btn-login{
    width:100%;
    padding:12px;
    margin-top:20px;
    border:none;
    border-radius:25px;
    background:linear-gradient(to right,#00c6ff,#0072ff);
    color:white;
    font-size:15px;
    cursor:pointer;
}

.btn-register{
    display:block;
    margin-top:15px;
    padding:10px;
    border-radius:25px;
    background:#28a745;
    color:white;
    text-decoration:none;
}